{% include "includes/nav3.html" %}
{% block content %}

<div id=conest2>
  <a href="{% url 'produto:produto_list' %}">Voltar</a>
</div>

  <div id="contcentro">
    <div id="page-header4">
      <div>
  <h1 class="produto">{{ object }} 
  </h1>

  <div >
    <table class="table table-user-information">
      <tbody>
        
        <tr>
          <th >NCM</th>
          <td>{{ object.ncm }}</td>
        </tr>
        <tr>
          <th >Preço</th>
          <td>R$ {{ object.preco }}</td>
        </tr>
        <tr>
          <th >Estoque</th>
          <td>{{ object.estoque }}</td>
        </tr>
        <tr>
          <th >Estoque mínimo</th>
          <td>{{ object.estoque_minimo }}</td>
        </tr>
      </tbody>
    </table>
    <span class="pull-right">
      <a href="{% url 'produto:produto_edit' object.pk %}">
        <button type="button" class="btn btn-success">
          <span class="fa fa-pencil"></span> Editar
        </button>
      </a>
    </span>
  </div>
</div>
</div>
</div>

{% endblock content %}
