@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


#sidebar {
    float: left;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(#A7A7A7,#D9D9D9);
    height: 70vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
    width: 15vw;
    z-index: 2;
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-left: 10px;
    align-items: center;
    padding-bottom: 10px;
    min-height: 2vh;
    
}
.container2 {
    display: flex;
    justify-content: flex-end;
    align-items: first baseline;
    min-height: 2vh;
}

#datalogo {
    
    z-index: 1;

    
}
#horalogo {
    z-index: 1;
    margin-bottom: 5px;
}

#sidebar .notificaçoes {
    text-align: center;
    background-color: var(--primary-color);
}

#notas {
    text-align: center;
    background-color: white;
    border: 1px solid white;
    border-radius: 0px 0px 18px 0px;
    height: 52vh;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;

}

#timer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#display {
    font-size: 15pt;
    float: right;
    padding-right: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}



@media only screen and (max-width: 768px) {
    #sidebar {
        float: left;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--gray);
        height: 80vh;
        border-radius: 0px 18px 18px 0px;
        position: relative;
        transition: all .5s;
        min-width: 82px;
        width: 35vw;
        z-index: 2;
    }

    #display {
        font-size: 11pt;
        padding-right: 10px;
        min-height: 2vh;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .container {
        min-height: 2vh;
        
    }


    #datalogo img{
        z-index: 1;
        width: 18px;
        height: 18px;
    
        
    }
    #horalogo img{
        z-index: 1;
        width: 18px;
        height: 18px;
    }

    #notas {
        text-align: center;
        background-color: white;
        border: 1px solid white;
        border-radius: 0px 0px 18px 0px;
        height: 63vh;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    
    }
}