{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icon -->
    <link
    rel="shortcut icon"
    href="./assets/favicon.ico"
    type="image/x-icon"/>
    <!-- title -->
    <title>L10 CLEAN</title>
    <!-- CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/extends.css' %}">

    {% block css %}{% endblock css %}
    <!-- JS -->
    <script src="{% static 'js/index.js' %}"></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
    rel="stylesheet"/>
</head>
<body>
<!-- head navbar -->
<nav class="navbar">
    <div class="navbar__content max-width mb-0">
        <a href="{% url 'core:l10' %}">
            <img src="{% static 'assets/LOGO PI.svg' %}" alt="L10 CLEAN" />
        </a>
        <h4 class="line typing">SISTEMA L10 CLEAN HIGIENIZAÇÃO </h4>
    </div>
</nav>

<!-- side navbar -->
<nav id="sidebar">
    <div class="container">
        <div id="datalogo">
            <a href="#">
                <img src="{% static 'assets/data.svg' %}" id="" alt="Data">
            </a>
        </div>
        <div id="horalogo">
            <a href="#">
                <img src="{% static 'assets/hora.svg' %}" id="" alt="Horário">
            </a>
        </div>
    </div>
    <!-- hora e data -->
    <div class="container2">
        <div id="timer">
            <div id="display">
                <span id="data"></span>
                <hr>
                <span id="hora"></span>
            </div>
        </div>
    </div>
    <!-- notificações -->
    <div id="note">
        <hr>
        <p class="notificaçoes">
            Notificações
        </p>
        <hr>
    </div>
    <div id="notas">
        <p>vazio</p>
    </div>
</nav>

<!-- about -->
<div id="about">
    <div class="imagens">
        <a href="{% url 'produto:compras' %}">
            <img src="{% static 'assets/compras.svg' %}" alt="Compras" id="compras">
        </a>
    </div>
    <div class="imagens">
        <a href="{% url 'produto:produto_list' %}">
            <img src="{% static 'assets/estoque.svg' %}" alt="Estoque" id="estoque">
        </a>
    </div>
    <div class="imagens">
        <a href="{% url 'produto:calendário' %}">
            <img src="{% static 'assets/calendario.svg' %}" alt="Calendário" id="calendario">
        </a>
    </div>
    <div class="imagens">
        <a href="{% url 'produto:clientes' %}">
            <img src="{% static 'assets/clientes.svg' %}" alt="Clientes" id="clientes">
        </a>
    </div>
</div>
<script src="{% static 'js/index.js' %}"></script>

      <!-- footer -->
      <div id="footer">
          <p>© 2024 L10 Clean. Todos os direitos reservados.</p>
        </div>
</body>
</html>