#about {
    background-color: var(--gray);
    height: 70vh;
    width: 70vw;
    border-radius: 18px 18px 18px 18px;
    margin-left: 20vw;
    

}
#about .imagens img  
{width: 17vw;
    height: 17vh;
    margin: auto;
    display: block;
   }


@media only screen and (max-width: 768px) {
    #about {
        background-color: var(--gray);
        height: 80vh;
        width: 60vw;
        border-radius: 18px 0px 0px 18px;
        margin-left: 40vw;
        margin-top: 5rem;
    }

    #about .imagens img  
    {width: 20vw;
        height: 20vh;
        margin: auto;
        display: block;
       }
}