:root {
    --white: #ffffff;
    --gray: #d9d9d9;
    --black: #000000;
    --primary-color: #38b6ff;
    --secondary-color: #eef7f2;
    --dark-secondary-color: #0f1533;
    --tertiary-color: #DBFFF4;
    --light-tertiary-color: #f3f6fb;
    --text-color: #343d48;
    --alt: #606062;

    --font-family: 'DM Sans', sans-serif;
}